<div id="topnav">
    <div class="shell">
    <div id="header">
      <h1 id="logo"><a href="~/Default.cshtml">Urgan Gear</a></h1>
      <div id="navigation">
        <ul>
          <li><a href="~/Default.cshtml">Home</a></li>
          <li><a href="~/shop.cshtml">Shop</a></li>
         
          
          
           <li class=" last"> @MembershipHelpers.AccountSummary() </li>
        </ul>
      </div>
    </div>
 </div>
 </div>

