<div id="topslider">
    <div class="shell">
<div id="slider">
      <div id="slider-holder">
        <ul>
          <li><a href="~/shop.cshtml"><img src="css/images/s4.jpg" alt="" /></a></li>
          <li><a href="~/shop.cshtml"><img src="css/images/s1.jpg" alt="" /></a></li>
          <li><a href="~/shop.cshtml"><img src="css/images/s2.jpg" alt="" /></a></li>
          <li><a href="~/shop.cshtml"><img src="css/images/s3.jpg" alt="" /></a></li>
          <li><a href="~/shop.cshtml"><img src="css/images/slide1.jpg" alt="" /></a></li>
          <li><a href="~/shop.cshtml"><img src="css/images/slide2.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div id="slider-nav"> <a href="#" class="prev">Previous</a> <a href="#" class="next">Next</a> </div>
    </div>
      
        </div>
    
</div>
