<div id="main1">
  <div class="shell1">
    <!-- Search, etc -->
    <div class="options">
      <div class="search">
        <form action="/Search.cshtml" method="post">
          
          <span class="field">
          <input type="text" class="blink" name ="searchTerm" value="SEARCH" title="SEARCH" style="height: 20px !important" />
          </span>
          <input type="submit" class="search-submit" value="GO" />
        </form>
      </div>
      
      
      </div>
    </div>
    </div>
